// Variables color

$input-border-color: #000000;
$input-border-hover-color: #3957ed;
$input-border-invalid-color: #c2301d;
$input-backgroud-color: #d9e5ff;
$input-error-message-color: #eb2305;
$button-backgroud-color: #e8eaeb;
$button-border-color: #bbbebf;
$content-background-color: #ffffff;
$header-background-color: #5c86d1;
$success-message-color: #31c458;
$button-add-task-color: #fcfba2;
$button-update-task-color: #72c4bc;
$task-shadow-color: #c6cccb;
$button-delete-task-color: #eb2305;

//Variables viewport
$tablet-width: 768px;
$desktop-width: 1440px;